<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Главная</title>
    <style>
      a {
      color: #000000
      }

      .thumb img  {
       border: 2px solid #ffbdd3; /* Рамка вокруг фотографии */
       padding: 0px; 
       margin-right: 15px; /* Отступ справа */
       margin-bottom: 15px; /* Отступ снизу */
       }

      figcaption { 
       text-align: center;
       max-width: 350px;
       }

      .layer2 {
       padding-left: 50%;
      }

      .layer2 {
       padding-left: 50%;
      }

      .layer3 {
       padding-left: 80%;
      }
      #left { position: absolute; left: 0; top: 15%; width: 20%; }
      #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr> 

    <div id="left"> 
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тестик</a></li>
      </ul>
    </div>

    <div id="right"> 
      <center><h1><b>Главная</b></h1></center>
      <center><h2>Животные Красной Книги:</h2></center>
      <div class="thumb">
        <img src="static/img/Белый медведь.png" alt="упсcc..." width="350" height="250" title="Белый медведь">
        <img src="static/img/сивуч.jpg" alt="упсcc..." width="350" height="250" title="Сивуч">
        <img src="static/img/Розовый фламинго.jpg" alt="упсcc..." width="350" height="250" title="Розовый фламинго">
        <img src="static/img/Кондор.jpg" alt="упсcc..." width="350" height="250" title="Кондор">
        <img src="static/img/Северный гладкий кит.jpg" alt="упсcc..." width="350" height="250" title="Северный гладкий кит">
        <img src="static/img/Гренландский кит.jpg" alt="упсcc..." width="350" height="250" title="Гренландский кит">
        <img src="static/img/Ararajuba.jpg" alt="упсcc..." width="350" height="250" title="Ararajuba">
        <img src="static/img/Желтая хвостатая обезьяна.jpg" alt="упсcc..." width="350" height="250" title="Желтая хвостатая обезьяна">
        <img src="static/img/Южный туко-туко.jpg" alt="упсcc..." width="350" height="250" title="Южный туко-туко">
        <img src="static/img/Красный волк.jpg" alt="упсcc..." width="350" height="250" title="Красный волк">
        <img src="static/img/Белый лев.jpg" alt="упсcc..." width="350" height="250" title="Белый лев">
        <img src="static/img/Белая цапля.jpg" alt="упсcc..." width="350" height="250" title="Белая цапля">
        <img src="static/img/Соня-полчок.jpg" alt="упсcc..." width="350" height="250" title="Соня-полчок">
        <img src="static/img/Снежный барс.jpg" alt="упсcc..." width="350" height="250" title="Снежный барс">
        <img src="static/img/Филин.jpg" alt="упсcc..." width="350" height="250" title="Филин">
        <img src="static/img/Белка летяга.jpg" alt="упсcc..." width="350" height="250" title="Белка летяга">
        <img src="static/img/Ринопитек.jpg" alt="упсcc..." width="350" height="250" title="Ринопитек">
        <img src="static/img/Кабарага.jpg" alt="упсcc..." width="350" height="250" title="Кабарага">
        <img src="static/img/Индийская гигантская белка.jpg" alt="упсcc..." width="350" height="250" title="Индийская гигантская белка">
        <img src="static/img/Манул.jpg" alt="упсcc..." width="350" height="250" title="Манул">
        <img src="static/img/Удода.jpg" alt="упсcc..." width="350" height="250" title="Удода">
        <img src="static/img/Ангорский кролик.jpg" alt="упсcc..." width="350" height="250" title="Ангорский кролик">
        <img src="static/img/Сенегальские галаго.jpg" alt="упсcc..." width="350" height="250" title="Сенегальские галаго">
        <img src="static/img/Малоротая макропинна (Бочкоглаз).jpg" alt="упсcc..." width="350" height="250" title="Малоротая макропинна (Бочкоглаз)">
        <img src="static/img/Бархатный кот.jpg" alt="упсcc..." width="350" height="250" title="Бархатный кот">
        <img src="static/img/Глубоководный удильщик.jpg" alt="упсcc..." width="350" height="250" title="Глубоководный удильщик">
        <img src="static/img/Медоед.jpg" alt="упсcc..." width="350" height="250" title="Медоед">
        <img src="static/img/Пятнистохвостая сумчатая куница.jpg" alt="упсcc..." width="350" height="250" title="Пятнистохвостая сумчатая куница">
    </div>

  </body>
</html>