<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
      color: #000000
      }

     .thumb img  {
      border: 2px solid #ffbdd3;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тестик</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Белый Медведь</b></h1></center>
      <center><h2>Факты:</h2></center>
      <div class="thumb">
        <img src="static/img/белый медведь1.jpg" alt="упсс..." width="500" height="400" title="Белый Медведь">
        <img src="static/img/белый медведь2.jpg" alt="упсс..." width="500" height="400" title="Белый Медведь">
      </div>

      <ul id="navbar">
        <big><li><p>1.Белые медведи, несомненно, являются одними из самых удивительных животных нашей планеты, ведь этим величественным животным удаётся выжить в одном из самых экстремальных и холодных мест на Земле.</p></li></big>
        <big><li><p>2.Белого медведя ещё называют северный медведь или полярный медведь, а северные народы зовут его нанук или ошкуй. </p></li></big>
        <big><li><p>3.Белый медведь — не только самый крупный сухопутный хищник северных широт, но умный и находчивый хищник, который сумел приспособиться и выжить в таком суровом полярном климате.</p></li></big>
        <big><li><p>4.Белый медведь — самый большой теплокровный хищник на планете. Вес белого медведя может достигать 1 000 кг, а длина 3,5 – 4 метров.</p></li></big>
        <big><li><p>5.Раньше в Арктике жил еще один подвид белого медведя — гигантский белый медведь. Он весил 1 200 кг и достигал в длину более 4 метров.</p></li></big>
        <big><li><p>6. Из-за обитания в удалённых местах от человеческой цивилизации — за Полярным кругом, белый медведь сохраняет больший диапазон своего обитания, чем любой другой хищник.Но, несмотря на это, он находится в списке уязвимых видов, так как его популяция составляет лишь от 20000 до 25000 особей во всём мире.</p></li></big>
        <big><li><p>7.Самый близкий родственник белого медведя — бурый медведь. Оба вида произошли от одного и того же предка приблизительно 600 тысяч лет назад.</p></li></big>
        <big><li><p>8.Бурые и белые медведи могут скрещиваться между собой и порождать гибриды, из-за того, что они являются родственными видами и у них были общие предки.</p></li></big>
        <big><li><p>9.Белая медведица, приносящая за один раз от 1 до 3 детенышей, вынашивает их в течение 8 месяцев.Медвежата появляются на свет в берлоге в период между ноябрем и декабрем. А уже в конце марта — начале апреля самка с детенышами выбирается из берлоги. </p></li></big>
        <big><li><p>10.Белых медведей считают большими чистюлями. Эти животные тратят ежедневно 15-20 минут на гигиенические процедуры, при этом тщательно очищаются от остатков налипшей грязи и частиц пищи. Для них это очень важно, поскольку загрязненный мех медведей теряет свои изоляционные свойства.</p></li></big>
        <big><li><p>11. В Антарктиде и Австралии никогда не жили белые медведи. </p></li></big>
        <big><li><p>12. На Аляске и Америке проживают около 90% всех белых медведей. </p></li></big>
        <big><li><p>13.Из-за того, что лапы белого медведя снабжены перепонками, то по классификации он относится к морским млекопитающим. </p></li></big>
        <big><li><p>14. Если белый медведь не может поймать пищу в течение более, чем 7 — 10 дней, его метаболизм замедляется, и он начинает сжигать свои жировые запасы, пока не найдет себе пищу.</p></li></big>
        <big><li><p>15. Они также очень умны и изобретательны. При охоте на тюленей (их наиболее распространенная добыча) белые медведи используют широкий спектр ловких методов. Предполагается, что они даже закрывают свои чёрные носы лапами, чтобы не быть замеченными на снегу. </p></li></big>
        <big><li><p>16. Благодаря их исключительному биологическому строению, белые медведи необычайно теплокровные животные. Их температура тела никогда не опускается ниже 31 градусов по Цельсию. Они иногда даже избегают бега и других физических нагрузок, чтобы не перегреваться.</p></li></big>
        <big><li><p>17.Взрослые белые медведи ведут одиночный образ жизни, но между ними могут возникать и поддерживаться дружеские отношения.</p></li></big>
        <big><li><p>18.Самые большие представители популяции белых медведей живут в Баренцевом море, а самые маленькие на Шпицбергене. </p></li></big>
        <big><li><p>19. Несмотря на то, что белые медведи обычно рождаются на суше, они проводят большую часть своего времени в море. Их научное название Ursus Maritimus означает «морской медведь».</p></li></big>
        <big><li><p>20. Белый медведь является отличным пловцом и часто может плыть в течение нескольких дней. Один медведь плыл непрерывно в течение 9 дней в холодном Беринговом море, преодолев расстояние в 687 километров, чтобы добраться до льда далеко от земли. Они, как правило, плывут со скоростью 10 километров в час. На лапах белого медведя есть перепонки, которые помогают ему плавать.</p></li></big>
        <big><li><p>21. Также рекордный заплыв, в более чем 600 км, совершила медведица, плывшая по морю Босфора от Аляски к паковым льдам в поисках пищи.</p></li></big>
        <big><li><p>22. Несмотря на свои внушительные габариты, белые медведи могут на суше при беге развивать скорость до 40 км/ч. Но бежать с такой скоростью он может недолго, так как может перегреться.</p></li></big>
        <big><li><p>23.Медведи обладают отличным обонянием. Уловить запах тюленя, выбравшегося на лед, они могут на расстояние 32 километров. </p></li></big>
        <big><li><p>24.Белые медведи не мерзнут, помогает им в этом толстый подкожный слой жира толщиной в 13 сантиметров. </p></li></big>
        <big><li><p>25.Самки белых медведей из южных частей Арктики воспитывают своих медвежат 2 года, а самки из более холодной части ухаживают за своими медвежатами 3 года.</p></li></big>
        <big><li><p>26. Белые медведи, как предполагают учёные, произошли в ходе эволюции от их общего предка с бурыми медведями приблизительно 5 миллионов лет назад. Они развивали уникальные особенности, которые помогают им выжить в очень холодном арктическом регионе. </p></li></big>
        <big><li><p>27. Некоторые исследователи считают, что интеллект белых медведей может быть настолько же высоким, как у обезьян, благодаря их остроумным методам охоты, изобретательности и способности изменять своё поведение в зависимости от меняющихся экологических проблем.</p></li></big>
        <big><li><p>28.Самый тяжёлый белый медведь из когда-либо зарегистрированных, весил целых 1002 килограмма. Это был самец, застреленный на северо-западе Аляски в 1960 году.</p></li></big>
        <big><li><p>29.Способность белых медведей плавать в ледяной воде без намокания их меха объясняется тем, что он покрыт жиром. Это обеспечивает его водоотталкивающее свойство. </p></li></big>
        <big><li><p>30. Из-за таяния ледяных шапок учёные прогнозируют, что две трети нынешней популяции этих удивительных животных исчезнет к 2050 году.</p></li></big>
        <big><li><p>31. Около 30 — 35 лет составляет средняя продолжительность жизни полярных медведей в дикой природе.</p></li></big>
        <big><li><p>32. В неволе был зафиксирован рекорд продолжительности жизни белого медведя. Больше 45 лет прожил старейший в мире медведь. </p></li></big>
        <big><li><p>33. Самка и самец белого медведя отличаются по весу. Вес самца может достигать 700 – 800 кг, а самка белого медведя преимущественно весит 300 кг.</p></li></big>
        <big><li><p>34.Белые медведи нередко путешествуют на дрейфующих льдинах.</p></li></big>
        <big><li><p>35.Бурые медведи роют берлоги в земле, а белые — в снегу, причём в такой берлоге обычно имеется несколько комнат и даже вытяжка. </p></li></big>
        <big><li><p>36.Кожа белого медведя — чёрного цвета, это помогает им удерживать тепло.</p></li></big>
        <big><li><p>37.В спячку на зиму белые медведи впадают на 50-80 дней, и то только беременные самки, чтобы произвести потомство. </p></li></big>
        <big><li><p>38.Беременность самки длится 230-240 дней, после чего на свет появляются крошечные медвежата весом 400-750 граммов.</p></li></big>
        <big><li><p>39. Несмотря на то, что два вида медведей являлись отдельными видами в течение очень длительного времени, полярные медведи всё ещё могут размножаться с бурыми медведями и производить способных к воспроизведению гибридов гризли и белого медведя. Это явление происходит как в дикой природе, так и в неволе, но очень редко. </p></li></big>
        <big><li><p>40. Хотя белый медведь является самым крупным хищником в мире, его очаровательные белые медвежата рождаются даже более маленькими, чем человеческие дети. Тем не менее, они являются более смышлёными, потому что они быстро учатся оставаться абсолютно неподвижными, пока их матери охотятся, чтобы не спугнуть добычу. </p></li></big>
        <big><li><p>41. Арктические лисы, как правило, являются добычей белых медведей, но в Канаде был зафиксирован случай крепкой дружбы между этими двумя животными. Они играли вместе, и гигантский медведь даже делился своей едой со своим маленьким другом лисицей.</p></li></big>
        <big><li><p>42. Довольно часто им приходится даже голодать, выдерживать сильные ветры и снега. Тем не менее, белые медведи прекрасно ловят рыбу и находят пищу под толстым слоем снега.</p></li></big>
        <big><li><p>43.Охота белого медведя завершается удачей лишь в 2 процентах случаев.</p></li></big>
        <big><li><p>44. Язык белых медведей также сильно пигментирован и отчасти из-за того, что к нему поступает много крови, иногда даже обладает тёмно-синим цветом.</p></li></big>
        <big><li><p>45.В период сильных морозов, когда полярный медведь ложится спать, он прикрывает свой нос лапой, который служит единственным выделителем тепла.</p></li></big>
        <big><li><p>46. Наиболее характерной особенностью белого медведя является абсолютно белый мех, однако он является не совсем тем, чем кажется. На самом деле, их волосяные фолликулы являются прозрачными полыми трубками. Благодаря этому их шерсть отражает окружающий их свет.</p></li></big>
        <big><li><p>47.Для белого медведя даже выделили Международный день — 27 февраля.</p></li></big>
        <big><li><p>48. Белый медведь выходит на сушу практически сухим после плавания. </p></li></big>
        <big><li><p>49. Когти на передних лапах белого медведя являются большими по сравнению с задними лапами. </p></li></big>
        <big><li><p>50. Мех белых медведей может иногда выглядеть немного желтоватым или зеленоватым. Пожелтение обуславливается возрастом и грязью, а зеленоватый цвет обусловлен водорослями, которые могут расти в мехе белого медведя в неестественно тёплых и влажных условиях.</p></li></big>
      </ul>
    </div>

  </body>
</html>