<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
      color: #000000
      }

     .thumb img  {
      border: 2px solid #ffbdd3;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тестик</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Кондор</b></h1></center>
      <center><h2>Факты:</h2></center>
      <div class="thumb">
        <img src="static/img/кондор1.jpg" alt="упссс..." width="500" height="400" title="Кондор">
        <img src="static/img/кондор2.jpg" alt="упссс..." width="500" height="400" title="Кондор">
      </div>

      <ul id="navbar">
        <big><li><p>1.Кондор андский — самая большая летающая птица в мире.</p></li></big>
        <big><li><p>2. В Западном полушарии по величине ей нет равных среди других летающих пернатых.</p></li></big>
        <big><li><p>3. Кондор – птица, размах крыльев которой достигает 3- х метров и даже больше. </p></li></big>
        <big><li><p>4. Кондор — птица, которая обитает вдоль всего побережья Тихого океана Южной Америки, конечно же, включая Анды. Южная граница ареала располагается на Огненной земле, а северная – на территории Колумбии и Венесуэлы. </p></li></big>
        <big><li><p>5.Встретить этих величественных птиц можно как высоко в горах, так и в предгорьях, на равнинах. </p></li></big>
        <big><li><p>6. Кроме андского кондора, известен очень редкий вид – калифорнийский кондор, который меньше по размерам. </p></li></big>
        <big><li><p>7.Этот вид кондоров встречается в горах Калифорнии, Аризоны, Юты и Мексики. А раньше калифорнийский кондор обитал на всем североамериканском континенте.</p></li></big>
        <big><li><p>8.Размах крыльев калифорнийского кондора до 3 метров. Длина тела достигает 125 сантиметров, масса не превышает 14 килограмм.</p></li></big>
        <big><li><p>9.Оперение у калифорнийского кондора черного цвета с белыми перьями на брюхе, на шее птицы есть чёрный воротник с острыми перьями, которые торчат в разные стороны. Клюв короткий, сильный.</p></li></big>
        <big><li><p>10.Эта птица практически исчезла в XX веке, но, начиная с 1980-х годов, при зоопарке Сан-Диего осуществляется программа по восстановлению этого вида. </p></li></big>
        <big><li><p>11. Длина тела взрослых особей андского кондора находится в пределах от 117 до 135 сантиметров. Размах крыльев составляет около 310 сантиметров в среднем. </p></li></big>
        <big><li><p>12.Масса самцов андского кондора от 11 до 15 килограмм, самки весят меньше – от 7,5 до 11 килограмм.</p></li></big>
        <big><li><p>13. Европейцы впервые увидели андского кондора в 1553 году, а Сьеса де Леона описал ее в книге «Хроника Перу». </p></li></big>
        <big><li><p>14.Путешественники уже тогда отметили, что эти птицы способны подниматься на огромную высоту Анд – около 7000 метров над уровнем моря, где их присутствие является чуть ли не единственным признаком жизни. </p></li></big>
        <big><li><p>15. Название вида кондор произошло из языка кечуа, где слово «kúntur» обозначает эту птицу, а также быстрого и великого путника. </p></li></big>
        <big><li><p>16. Оперение у кондора контрастное и выразительное. Практически весь окрас птицы черный, кроме белого пушистого воротника вокруг шеи и широких белых каёмок на крыльях, которые особенно ярко выражены у самцов. </p></li></big>
        <big><li><p>17.Голова и горло кондора не оперены, кожа в этих местах бледно-розовая или красновато-фиолетовая, иногда бурая. При возбуждении птицы эти участки кожи меняют свой цвет на желтый или красный, что является предупреждающим сигналом для других особей. Ухаживая за собой, птицы сами тщательно очищают голову от перьев.</p></li></big>
        <big><li><p>18.Голова у кондора сверху немного сплюснута. У самцов она украшена крупным мясистым гребнем тёмно-красного цвета, кожа в области шеи сморщена и образует так называемые «серёжки».</p></li></big>
        <big><li><p>19.Клюв длинный, сильный, загнутый на кончике, чёрного цвета с жёлтой вершиной. Радужина у самцов коричневая, а у самок ярко-красная.</p></li></big>
        <big><li><p>20.Оперение молодых птиц серовато-бурого цвета с темной, практически черной, кожей в области головы и шеи, и бурым воротничком. </p></li></big>
        <big><li><p>21.Лапы тёмно-серого цвета, когти прямые, неострые. Строение ног кондора не позволяет птице удерживать и переносить добычу, поэтому им приходится съедать её на том же месте, где она была найдена.</p></li></big>
        <big><li><p>22. Половой диморфизм у кондора проявляется, прежде всего, в размерах птицы. Вес самцов составляет 11-15 килограмм, у самок он от 7,5 до 11 килограмм.</p></li></big>
        <big><li><p>23. Кроме того, у самцов на голове расположен большой мясистый гребень тёмно-красного цвета, а кожа на шее сморщенная и образует «серёжки». </p></li></big>
        <big><li><p>24.На черных крыльях самца кондора также ярче выделяются белые полосы по краям.</p></li></big>
        <big><li><p>25. Живут кондоры до 50 лет, так что их можно назвать долгожителями в птичьем царстве.</p></li></big>
        <big><li><p>26. Свои гнезда эти великаны предпочитают устраивать на высоте 4-5 тысяч метров над уровнем моря, в труднодоступных местах. Хотя это даже не гнездо, а, скорее, всего лишь подстилка, сложенная из веток. В зависимости от местности яйца иногда откладываются совсем без подстилки, просто в расщелины между валунами на склонах. </p></li></big>
        <big><li><p>27. Своим красивым полётом калифорнийский кондор привлекал внимание охотников, из-за чего оказался на грани вымирания. </p></li></big>
        <big><li><p>28. В 1987 году был выловлен последний обитающий в дикой природе калифорнийский кондор, а общее количество птиц на тот момент достигало 27 особей. К счастью, кондоры хорошо размножаются в неволе, и уже в 1992 года птиц начали выпускать на свободу.</p></li></big>
        <big><li><p>28. Если брать размер туловища, то калифорнийский кондор превосходит андского приблизительно на 5 сантиметров, но что касается размаха крыльев, то тут андскому кондору нет равных (280-320 сантиметра). Он однозначно лидирует среди своих сородичей. </p></li></big>
        <big><li><p>29.По весу андский кондор также превосходит всех представителей семейства грифов. </p></li></big>
        <big><li><p>30. Кондоры издают шипящие, скрипящие и цокающие звуки в основном в период гнездования.</p></li></big>
        <big><li><p>31. Брачный период у этих птиц наступает один раз в два года, в конце зимы и начале весны.</p></li></big>
        <big><li><p>32.Половозрелым кондор становится к 5-6 годам. Определить, что самец начинает ухаживать за самкой, очень просто: во время брачного периода на его голове набухает кожа, ее цвет при этом меняется от светло-розового до насыщенно-желтого. </p></li></big>
        <big><li><p>33.Перед своей избранницей кавалер выпячивает грудь и шипит, затем расправляет огромные крылья и стоит, цокая языком. </p></li></big>
        <big><li><p>34. Самец и самка, создав пару, хранят верность друг другу на протяжении всей жизни. В больших стаях кондоров старшие птицы руководят молодыми, а в парах самцы доминируют над самками. </p></li></big>
        <big><li><p>35. Самка откладывает обычно одно яйцо, иногда два, насиживание происходит в течение 55-60 дней, в этом участвуют оба родителя. </p></li></big>
        <big><li><p>36.Птенцы появляются из яиц, «одетые» в густой серый пушок, свою «одежку» они поменяют только тогда, когда по размеру станут такие, как их родители.</p></li></big>
        <big><li><p>37.Еду малышам приносит как мама, так и папа, они отрыгивают полупереваренную пищу из клюва в клюв. </p></li></big>
        <big><li><p>38.Свои первые полеты юные кондоры могут совершать в полугодовом возрасте, однако вместе со своими родителями они остаются около двух лет, пока самка не будет готова отложить следующую кладку. </p></li></big>
        <big><li><p>39. Отдыхать андский красавец любит, сидя на скалистом карнизе, на большой высоте. С такого насеста ему легко соскочить и полететь, с земли тяжелому кондору взлетать очень тяжело, особенно после сытного обеда. Для этого кондор должен делать большой разбег и тратить много энергии. </p></li></big>
        <big><li><p>40. Возле моря добычей кондоров становятся выброшенные на берег туши морских млекопитающих, вдали от побережья кондоры трапезничают останками копытных животных. Без обеда эта птица остается редко.</p></li></big>
        <big><li><p>41. Добывать пищу этим пернатым хищникам помогает их острое зрение. Без еды эти великаны могут обходиться в течение нескольких суток, но зато после такой диеты за один обед съедают несколько килограммов мяса.</p></li></big>
        <big><li><p>42. Кондор — это птица, которая питается в основном падалью. Кроме туш павших животных хищники поедают яйца и птенцов, разоряя гнезда колониальных птиц. Чтобы найти себе еду, андские великаны могут пролететь за один день до 200 километров. </p></li></big>
        <big><li><p>43. Для народов, населяющих Анды, кондор является символом здоровья и силы. По старинному поверью, кости этого великана, так же как и другие его органы, обладают целебными свойствами. Из-за этого люди бездумно истребляли птиц, не думая о последствиях. </p></li></big>
        <big><li><p>44. Кондор — крупная птица, поэтому попасть в него из огнестрельного оружия не составляло труда, в результате чего этот полезнейший вид находится на грани вымирания.</p></li></big>
        <big><li><p>45. Зоологи начали усиленно восстанавливать популяцию этой полезной птицы, а охота на неё ведётся всё реже. </p></li></big>
        <big><li><p>46. Кондор играет важную роль в культуре народов Анд. На гербах Чили, Боливии, Колумбии и Эквадора изображена эта птица. </p></li></big>
        <big><li><p>47.Андский кондор – один из символов Анд, а также – национальный символ в Аргентине, Перу, Боливии, Чили, Колумбии и Эквадоре.</p></li></big>
        <big><li><p>48. Еще за 2,5 тысячи лет до нашей эры уже были наскальные рисунки с изображением этого великана. </p></li></big>
        <big><li><p>49. В племенах индейцев андский кондор ассоциируется с божеством солнца, индейцы считают его правителем верхнего мира. </p></li></big>
        <big><li><p>50. Кондоры выполняют очень важную функцию. Если вовремя не съедать трупы животных, то они становятся источником многих болезней. Поэтому зоологи всеми силами пытаются восстановить популяцию андского кондора, разводя его в неволе и прибегая ко многим другим хитростям. Если бы люди спохватились на пару лет позже, возможно, тогда мы смогли бы увидеть кондоров лишь на фотографиях. Но у кондора есть будущее, и можно надеяться, что наши потомки будут жить в мире, в котором андский кондор займёт своё заслуженное место.</p></li></big>

      </ul>
    </div>

  </body>
</html>