<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
      color: #000000
      }

     .thumb img  {
      border: 2px solid #ffbdd3;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тестик</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Манул</b></h1></center>
      <center><h2>Факты:</h2></center>
      <div class="thumb">
        <img src="static/img/манул1.jpg" alt="упссс..." width="500" height="400" title="Манул">
        <img src="static/img/манул2.jpg" alt="упссс..." width="500" height="400" title="Манул">
      </div>

      <ul id="navbar">
        <big><li><p>Свое второе имя, паласов кот, манул получил в честь Питера Паласа, немецкого ученого, встретившего его в прикаспийских степях в 1782 году. После открытия коту дали необычное название Otocolobus, что в переводе с латыни означает «уродливое ухо».</p></li></big>
        <big><li><p>Мех манула самый пушистый и густой среди всех кошачьих.</p></li></big>
        <big><li><p>Манулы могут встречается в горах на высоте от 3000 до 4800 м над уровнем моря.</p></li></big>
        <big><li><p>Толстая шубка и короткие ноги ограничивают подвижность манула, поэтому бегает он в очень редких случаях.</p></li></big>
        <big><li><p>В случае опасности манул старается затаиться в надежде, что не будет замечен, но если он будет раскрыт, то непременно даст сдачи обидчику.</p></li></big>
        <big><li><p>Манулы могут переносить холода до -50°С. Плотность шерсти манула 9000 волосков на один см². </p></li></big>
        <big><li><p>Основной добычей манула являются мышевидные грызуны, но иногда кот может поймать и зайца.</p></li></big>
        <big><li><p>У манулов особое устройство иммунной системы, обусловленное их изолированным образом жизни от других кошек. Они не переносят множество инфекций и вирусов, с которыми домашние кошки могут жить всю жизнь. Особенно страшен для них токсоплазмоз.</p></li></big>
        <big><li><p>Зрачки манула никогда не приобретают щелевидную форму, как это бывает у домашних кошек, а всегда остаются круглыми.</p></li></big>
        <big><li><p>Вес манула такой же, как и у домашней кошки – от 2 до 6 кг, больше он кажется из-за своего густого меха.</p></li></big>
        <big><li><p>Манулы ведут оседлый и одиночный образ жизни. Каждое животное живет на своей определенной территории площадью до 10 км².</p></li></big>
        <big><li><p>Содержащиеся в неволе манулы очень плохо размножаются.</p></li></big>
        <big><li><p>Селятся манулы в расщелинах скал или норах других животных.</p></li></big>
        <big><li><p>Потомство манулы приносят раз в один год.</p></li></big>
        <big><li><p>Окрас шерсти манула позволяет ему замаскироваться так, что даже на расстоянии двух-трех шагов его сложно заметить.</p></li></big>
        <big><li><p>Средняя продолжительность жизни манулов 11-12 лет.</p></li></big>
      </ul>
    </div>

  </body>
</html>