<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
      color: #000000
      }

     .thumb img  {
      border: 2px solid #ffbdd3;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тестик</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Сивуч</b></h1></center>
      <center><h2>Факты:</h2></center>
      <div class="thumb">
        <img src="static/img/сивуч1.jpg" alt="упсс.." width="500" height="400" title="Сивуч">
        <img src="static/img/сивуч2.jpg" alt="упссс.." width="500" height="400" title="Сивуч">
      </div>

      <ul id="navbar">
        <big><li><p>Сивуч является крупнейшим видом морского льва в мире, с самцами свыше 3 м. в длину и со средним весом в 520 кг. </p></li></big>
        <big><li><p>У сивучей более коренастые тела и длинные ласты, чем у других ластоногих.</p></li></big>
        <big><li><p>Их английское название - морской лев Стеллера - отражает имя Георга Вильгельма Стеллера, натуралиста, который открыл этого зверя в 1741 году. </p></li></big>
        <big><li><p>Очень часто эти животные "загорают" на прибрежных камнях внутри их территорий.</p></li></big>
        <big><li><p>Самцы сивучей и других морских львов отчасти напоминают львов сухопутных своими собственными гривами вокруг шей, и рёвом, который несколько напоминает львиный рёв. </p></li></big>
        <big><li><p>И подобно же самцам крупных видов кошачьих, самцы сивучей могут быть очень агрессивными и территориальными, когда дело доходит до их угодий.</p></li></big>
        <big><li><p>Также, самцы будут сражаться - иногда насмерть - чтобы добыть себе самок. Во время битв, неуклюжие на суше, но огромные морские львы будут бросаться друг на друга, как борцы сумо.</p></li></big>
        <big><li><p> Они также будут кусать друг друга, оставляя кровавые следы на спинах друг друга. Приз сильнейшего самца - гарем самок, который более многочисленный, чем любой другой, расположенный по соседству.</p></li></big>
        <big><li><p>Де-факто, самые крупнейшие самцы морских львов могут иметь гарем, где насчитывается по 20 самок, и они будут пробывать спариться и оплодотоврить каждую из них в течении месеца мая, когда у этих зверей происходит брачный период.</p></li></big>

      </ul>
    </div>

  </body>
</html>