<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
      color: #000000
      }

     .thumb img  {
      border: 2px solid #ffbdd3;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тестик</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Филин</b></h1></center>
      <center><h2>Факты:</h2></center>
      <div class="thumb">
        <img src="static/img/филин1.jpg" alt="упссс..." width="500" height="400" title="Филин">
        <img src="static/img/филин2.jpg" alt="упссс..." width="500" height="400" title="Филин">
      </div>

      <ul id="navbar">
        <big><li><p>Филины моногамны. Они образовывают только одну пару за всю жизнь. </p></li></big>
        <big><li><p>Филины живут практически повсеместно. Их нельзя встретить только в Антарктике и Австралии.</p></li></big>
        <big><li><p>Знаменитое уханье филина редко можно услышать в обычное время. Они ухают только в брачный период, когда привлекают самок. Ночами они ухают, общаясь с сородичами.</p></li></big>
        <big><li><p>Глаза филина устроены так, что не могут двигаться. Поэтому птица обзавелась особым устройством шеи, позволяющим повернуть голову на 200 градусов.</p></li></big>
        <big><li><p>Филины – оседлые птицы. Они полностью покрыты перьями, только клюв и когти остаются голыми. Такая защита позволяет филинам жить даже в суровом климате Сибири и Скандинавии. </p></li></big>
        <big><li><p>Филин – превосходный охотник, нот даже у него бывают неудачи. Нередко провалы на охоте заканчиваются гибелью птицы.</p></li></big>
        <big><li><p>Размах крыльев филина составляет почти два метра. Когда рядом с его гнездом оказывается хищник, филин летает вокруг, расправив крылья во всю длину. Так он кажется больше и страшнее, и хищник отступает.</p></li></big>
        <big><li><p> У древних римлян филин считался мрачным предзнаменованием. В ночь перед знаменитой битвой при Каннах вокруг римского лагеря всю ночь ухали филины. Боевой дух суеверных солдат был подорван, и это стало одной из причин поражения Рима.</p></li></big>
        <big><li><p>Возраст филина можно определить по глазам. С возрастом они меняют свой цвет со светло-жёлтого на тёмно-оранжевый.</p></li></big>
        <big><li><p>В природе филины живут около 20 лет. Зато в неволе встречаются долгожители, которые умирают в возрасте 60 – 65 лет. </p></li></big>
      </ul>
    </div>

  </body>
</html>