<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Рандомные факты</title>
    <style>
      a {
      color: #000000
      }

     .thumb img  {
      border: 2px solid #ffbdd3;
      padding: 0px;
      margin-right: 15px;
      }

     #left { position: absolute; left: 0; top: 15%; width: 20%; }
     #right { position: absolute; right: 0; top: 15%; width: 80%; }

    </style>
  </head>

  <body>
    <big><big><center><h1><b>BioWikki</b></h1></center></big></big>
    <hr></hr>

    <div id="left">
      <center><h2>Разделы:</h2></center>
      <ul id="navbar">
        <li><a href="registration">Вход/Регистрация</a></li>
        <li><a href="main">Главная</a></li>
        <li><a href="random">О животном</a></li>
        <li><a href="random_fact">Факты</a></li>
        <li><a href="tests">Тесты</a></li>
      </ul>
    </div>

    <div id="right">
      <center><h1><b>Розовый Фламинго</b></h1></center>
      <center><h2>Факты:</h2></center>
      <div class="thumb">
        <img src="static/img/фламинго1.jpg" alt="упссс..." width="500" height="400" title="Розовый Фламинго">
        <img src="static/img/фламинго2.jpg" alt="упссс..." width="500" height="400" title="Розовый Фламинго">
      </div>

      <ul id="navbar">
        <big><li><p>1. Фламинго — крупная птица с красивыми розовыми или красными перьями, известная также своими длинными ногами и немного кривым длинным клювом. До недавнего времени фламинго относили к отряду аистообразных, однако ученые пришли к выводу, что фламинго должны быть помещены в отдельный отряд — фламингообразные.</p></li></big>
        <big><li><p>2. Свое название птицы получили от латинского слова flamenco — «огонь», которое указывает на их яркий цвет.</p></li></big>
        <big><li><p>3. В наши дни на Земле обитает 6 видов фламинго: малый, обыкновенный или розовый, Карибский или красный, Чилийский, фламинго Джеймса и Андский фламинго.</p></li></big>
        <big><li><p>4. Фламинго предпочитают жить рядом с солеными мелкими озерами, в прибрежных лагунах, на отмелях и рядом с лиманами. </p></li></big>
        <big><li><p>5. Фламинго принадлежат к одной из самых древних птичьих семей. Останки ископаемых фламинго, наиболее близких к современным формам, датируются 30 миллионами лет назад, а найденные окаменелости более примитивных видов имеют возраст более 50 миллионов лет. Окаменелости были обнаружены в местах, где сегодня фламинго уже не увидишь – некоторые районы Европы, Северной Америки и Австралии. Это указывает на то, что в прошлом они имели гораздо более широкий ареал обитания.</p></li></big>
        <big><li><p>6. Розовый фламинго — самый распространенный вид фламинго. Обыкновенные, или розовые фламинго обитают в Африке, южной части Европы и юго-западной Азии. Они самые крупные среди фламинго. Розовый фламинго достигает 1,2-1,5 метра в высоту и весит до 4-х килограммов. </p></li></big>
        <big><li><p>7. Также это единственный вид фламинго, обитающий на территории бывшего Советского Союза в Казахстане (озеро Тенгиз, озеро Челкартенгиз и озеро Ащитастысор).</p></li></big>
        <big><li><p>8. В Европе фламинго гнездятся в заповеднике Камарг, в устье реки Роны (Южная Франция), а также в Лас-Марисмасе в Южной Испании. В Африке птица гнездится на озерах Марокко, Южного Туниса, Северной Мавритании, Кении, островов Зеленого Мыса, юга континента. Обитает также на озерах Южного Афганистана (на высоте до 3000 м) и Северо-Западной Индии (Кач), не так давно гнездился на Шри-Ланке. </p></li></big>
        <big><li><p>9. В России фламинго не гнездится, однако регулярно отмечается на миграциях — в устье реки Волга, в Дагестане, Калмыкии, Краснодарском и Ставропольском краях. Также залетает на юг Сибири в Алтайский край, Тюменскую, Омскую, Томскую, Новосибирскую области, Бурятию, Иркутскую область, Якутию, Приморье, Урал. Зимуют пролетающие через Россию фламинго в Азербайджане, Туркмении и Иране.</p></li></big>
        <big><li><p>10. Подсчитано, что за день обыкновенный фламинго съедает пищи до четверти от собственного веса. Колония из полумиллиона розовых фламинго в Индии за день употребляет примерно 145 тонн корма.</p></li></big>
        <big><li><p>11. Малый фламинго живет в Африке и северных частях Индии, он самый мелкий из фламинго. Малый фламинго в длину достигает всего чуть более 0,8 метра, его вес составляет в среднем 2,5 килограмма. </p></li></big>
        <big><li><p>12.У Розовых фламинго самая бледная расцветка перьев, тогда как Карибские фламинго славятся своими ярко розовыми, почти красными перьями.</p></li></big>
        <big><li><p>13. Розовую или красную окраску оперению фламинго придают красящие вещества липохромы, которые птицы получают вместе с пищей. </p></li></big>
        <big><li><p>14. Фламинго – социальные птицы, которые живут в разных по размерам группах. Они собираются в стаи, когда перелетают с места на место, а также предпочитают держаться группы, когда находятся на земле. </p></li></big>
        <big><li><p>15. Во время приема пищи фламинго опускают голову под воду, втягивают воду с помощью клюва, просеивая питательные продукты, которые съедают, а вода выходит через надклювье. Крошечные, похожие на волоски фильтры помогают отсеивать пищу и выпускать воду. Одно из исследований показало, что особый поплавок, который поддерживает голову птицы, позволяет ей питаться, перевернув голову и удерживая ее на поверхности воды. </p></li></big>
        <big><li><p>16. Карибских фламинго можно встретить на Карибах, на севере Южной Америки, на мексиканском полуострове Юкатан и Галапагосских островах. </p></li></big>
        <big><li><p>17. Длинные ноги фламинго помогают им ходить по дну даже на сравнительно большой глубине в поисках пищи, что дает им некоторые преимущества по сравнению с другими птицами. </p></li></big>
        <big><li><p>18. Древние римляне высоко ценили язык фламинго, как деликатес. Также мясом яйцами фламинго питаются в разных частях света. </p></li></big>
        <big><li><p>19. Фламинго могут встретиться и на высокогорных озёрах. Кроме того, они умеют переносить очень большие перепады температуры.</p></li></big>
        <big><li><p>20. В семейном укладе жизни фламинго царит равноправие. Здесь и самец, и самка участвуют в процессе вынашивания, а затем и воспитании птенцов. Фламинго-самцы высиживает отложенные самкой яйца наравне со своей подругой.</p></li></big>
        <big><li><p>21. Чилийские фламинго водятся на юго-западе Южной Америки.</p></li></big>
        <big><li><p>22. Фламинго имеют массивный, изогнутый вниз клюв, у которого подвижна нижняя часть, что отличает его от других птиц.</p></li></big>
        <big><li><p>23. Самцы, как правило, крупнее самок и имеют гораздо более длинные ноги. </p></li></big>
        <big><li><p>24. Средний возраст фламинго примерно 30 лет. В заповедниках и зоопарках эти птицы живут дольше, чем на воле. </p></li></big>
        <big><li><p>25. У фламинго громкие и пронзительные крики.</p></li></big>
        <big><li><p>26. Фламинго Джеймса обитают только в Южной Америке: в Перу, Чили, Боливии и Аргентине. </p></li></big>
        <big><li><p>27.Эти птицы умеют летать, но чтобы оторваться от земли, им требуется небольшой разбег. Во время полета они вытягивают свои длинные шеи и ноги в одну прямую линию. </p></li></big>
        <big><li><p>28. При опасности фламинго взлетают, и хищнику трудно выбрать из них определённую жертву, тем более что маховые перья на крыльях всегда чёрные, и при полёте они мешают сфокусироваться на жертве.</p></li></big>
        <big><li><p>29.Фламинго могут и хорошо держаться на плаву, правда, не очень глубоко. Однако, застать их за этим делом почти невозможно — они предпочитают ходить, плавно покачиваясь из стороны в сторону, нежели купать свои перья в воде.</p></li></big>
        <big><li><p>30.О грациозных фламинго можно смело говорить, что они впадают из крайности в крайность. Так, эти необычные и красивые птицы живут либо в горячих вулканических озерах, либо в ледяной воде.</p></li></big>
        <big><li><p>31. В Аргентине, Чили, Перу и Боливии обитает Андский фламинго.</p></li></big>
        <big><li><p>32. Из всех видов фламинго только у Андского фламинго имеются желтые ноги. </p></li></big>
        <big><li><p>33. Популяция Андского фламинго сильно сокращается из-за потери мест обитания и качества окружающей среды. </p></li></big>
        <big><li><p>34. Мало того, что фламинго едят песок и грязь из воды, они еще и не дышат за трапезой.</p></li></big>
        <big><li><p>35. За один раз фламинго откладывают одно яйцо. Высиживают его по очереди и самки, и самцы. Появившийся через 30 дней птенец называется цыпленком. Поначалу он имеет серый или белый цвет, который не меняется до двух лет.</p></li></big>
        <big><li><p>36. По внешнему виду птенец фламинго мало чем отличается от детенышей других пернатых. Даже клюв у него самый обыкновенный, не изогнутый.</p></li></big>
        <big><li><p>37.Птенцы фламинго капризны в еде. Им не подходят мясо, рыба или насекомые — все то, чем другие птицы выкармливают потомство. Да и планктон добывать они не могут, ведь клювы у них от рождения прямые. Горделивый изгиб намечается только в возрасте двух недель но и до этого, и после — целых два месяца — малышей кормят родители. Подобно голубям, они вырабатывают жидкий секрет — «птичье молоко», только красного цвета. Его выделяют особые железы, выстилающие пищевод. В нем много жира, белка, примешана кровь и немного планктона.</p></li></big>
        <big><li><p>38.Молочко дают не только самки, но и самцы, но самое интересное — его выработкой управляет тот же гормон, что и у всех млекопитающих, в том числе у людей. </p></li></big>
        <big><li><p>39.В каждой семье фламинго всего один птенец, но птицы заботятся обо всех детях, живущих в колонии. В этом они похожи на пингвинов: у фламинго тоже есть «детские сады», где птенцы под присмотром дежурных воспитателей проводят все время, пока родители добывают пропитание. В такой группе может быть до 200 птенцов, но своего ребенка любой родитель быстро находит по голосу.</p></li></big>
        <big><li><p>40. Стая фламинго может развивать при перелете скорость до 35 миль (примерно 56 км) в час.</p></li></big>
        <big><li><p>41. Фламинго создают пары во время сезона спаривания, однако в следующий сезон находят других партнеров.</p></li></big>
        <big><li><p>42. Самка и самец вместе строят гнездо. Гнездо строится обычно из грязи и имеет высоту около 0,3 метра. Высота позволяет защитить его от наводнений и сильно нагревшейся поверхности земли. </p></li></big>
        <big><li><p>43. Самка откладывает в сезон всего одно яйцо, которое охраняют оба родителя. После того, как птенец вылупился, оба родителя также несут за него ответственность и кормят его.</p></li></big>
        <big><li><p>44. Вылупившиеся птенцы имеют серые перья, розовый клюв и ноги. Они не приобретают характерную розовую окраску перьев до 2 лет. </p></li></big>
        <big><li><p>45. Фламинго невозможно спутать ни с какой другой птицей из-за особенностей строения тела и удивительной окраски оперения. Это довольно крупные птицы (высота 120-145 см, вес 2100-4100 г, размах крыльев149-165 см), причем самки мельче самцов и более коротконогие. Голова у фламинго небольшая, клюв массивный и в средней части круто (коленообразно) изогнут вниз. </p></li></big>
        <big><li><p>46. В Восточной Африке фламинго группируются в гигантские стаи – более миллиона особей, формируя самые крупные стаи птиц на планете. </p></li></big>
        <big><li><p>47. Фламинго могут справляться даже с крайними природными условиями, в которых выживает лишь немногие другие виды животных. Например, они встречаются у весьма солёных или щелочных озёр. Это обусловлено наличием в сильно солёных водоёмах большой популяции рачков (таких, как артемии), где из-за высокой солёности не живут рыбы. Рачки являются основной пищей фламинго. </p></li></big>
        <big><li><p>48. У фламинго есть привычка спать на одной ноге. Этим приемом они пользуются для экономии энергии и сохранения тепла. </p></li></big>
        <big><li><p>49.Ноги фламинго не покрыты перьями, поэтому они мерзнут на ветру, стараясь по очереди согреть то одну то другую. На самом деле их тело устроено так, что фламинго легко стоит на одной ноге, держит ее прямо, не применяя мускульную силу.</p></li></big>
        <big><li><p>50. Фламинго всеядны: они едят и растения, и мясо. Моллюски и водоросли, которые они добывают в водоемах, содержат каротины — красящие вещества, которые делают их перья розовыми или оранжевыми.</p></li></big>
     
      </ul>
    </div>

  </body>
</html>